uddi-ws/src/main/resources/juddi_api_v1.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<wsdl:definitions 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:tns="urn:juddi-apache-org:v3_service"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:ns2="http://schemas.xmlsoap.org/soap/http" 
xmlns:uddiport="urn:uddi-org:api_v3_portType"
xmlns:ns1="urn:juddi-apache-org:api_v3" 

name="JUDDIApiService"
targetNamespace="urn:juddi-apache-org:v3_service" 
xmlns:repl="urn:uddi-org:repl_v3" 
xmlns:subr="urn:uddi-org:sub_v3" 
xmlns:uddi="urn:uddi-org:api_v3">
 <wsdl:documentation>This WSDL defines the jUDDI API Service. It is an extension to the UDDIv3 specification that is specific to jUDDI and
  provides primarily administrative functionality of jUDDI.</wsdl:documentation>
  <wsdl:import namespace="urn:uddi-org:api_v3_portType" location="uddi_api_v3_portType.wsdl"/>
  <wsdl:types>
  
  <xsd:schema targetNamespace="urn:uddi-org:api_v3" elementFormDefault="qualified" >
  <xsd:import  schemaLocation="uddi_v3.xsd" namespace="urn:uddi-org:api_v3" />
  <xsd:import  schemaLocation="juddi_api_v1.xsd" namespace="urn:juddi-apache-org:api_v3" />
  </xsd:schema>



<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:tns="urn:juddi-apache-org:v3_service" 
            xmlns:ns0="urn:juddi-apache-org:api_v3" 
            attributeFormDefault="unqualified" 
            elementFormDefault="qualified" 
            targetNamespace="urn:juddi-apache-org:v3_service">

  
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="www.w3.org/2001/xml.xsd"/>
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd"/>
	
  <xsd:import  schemaLocation="uddi_v3.xsd" namespace="urn:uddi-org:api_v3" />
  <xsd:import  schemaLocation="uddi_v3subscription.xsd" namespace="urn:uddi-org:sub_v3"/>
  <xsd:import  schemaLocation="uddi_v3replication.xsd" namespace="urn:uddi-org:repl_v3" />
  
  <xsd:import schemaLocation="juddi_api_v1.xsd"  namespace="urn:juddi-apache-org:api_v3"/>
  <xsd:element name="save_ClerkResponse" nillable="true" type="ns0:clerkDetail"/>
  <xsd:element name="save_publisherResponse" nillable="true" type="ns0:publisherDetail"/>
  <xsd:element name="save_NodeResponse" nillable="true" type="ns0:nodeDetail"/>
  <xsd:element name="save_ClientSubscriptionInfoResponse" nillable="true" type="ns0:clientSubscriptionInfoDetail"/>
  <xsd:element name="invoke_SyncSubscriptionResponse" nillable="true" type="ns0:syncSubscriptionDetailResponse"/>
</xsd:schema>
 </wsdl:types>
 
 
 
  <wsdl:message name="get_allPublisherDetail">
    <wsdl:part element="ns1:get_allPublisherDetail" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="save_ClientSubscriptionInfoResponse">
    <wsdl:part element="tns:save_ClientSubscriptionInfoResponse" name="save_ClientSubscriptionInfoResponse">
    </wsdl:part>
  </wsdl:message>
  
<wsdl:message name="save_NodeResponse">
    <wsdl:part element="tns:save_NodeResponse" name="save_NodeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_publisherDetail">
    <wsdl:part element="ns1:get_publisherDetail" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_publisherDetailResponse">
    <wsdl:part element="ns1:publisherDetail" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="save_ClerkResponse">
    <wsdl:part element="tns:save_ClerkResponse" name="save_ClerkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="save_Clerk">
    <wsdl:part element="ns1:save_ClerkRequest" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete_ClientSubscriptionInfo">
    <wsdl:part element="ns1:delete_ClientSubscriptionInfo" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="adminDelete_tmodelResponse">
  </wsdl:message>
  <wsdl:message name="adminDelete_tmodel">
    <wsdl:part element="ns1:adminDelete_tmodel" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete_publisher">
    <wsdl:part element="ns1:delete_publisher" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="save_ClientSubscriptionInfo">
    <wsdl:part element="ns1:save_ClientSubscriptionInfoRequest" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete_publisherResponse">
  </wsdl:message>
  <wsdl:message name="save_publisherResponse">
    <wsdl:part element="tns:save_publisherResponse" name="save_publisherResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invoke_SyncSubscriptionResponse">
    <wsdl:part element="tns:invoke_SyncSubscriptionResponse" name="invoke_SyncSubscriptionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invoke_SyncSubscription">
    <wsdl:part element="ns1:invoke_SyncSubscription" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_allPublisherDetailResponse">
    <wsdl:part element="ns1:publisherDetail" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="save_publisher">
    <wsdl:part element="ns1:save_publisher" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete_ClientSubscriptionInfoResponse">
  </wsdl:message>
  <wsdl:message name="save_NodeRequest">
    <wsdl:part element="ns1:save_NodeRequest" name="body">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="get_AllNodes">
    <wsdl:part element="ns1:get_AllNodes" name="body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_AllNodesResponse">
    <wsdl:part element="ns1:get_AllNodesResponse" name="response"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="get_AllClerks">
    <wsdl:part element="ns1:get_AllClerks" name="body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_AllClerksResponse">
    <wsdl:part element="ns1:get_AllClerksResponse" name="response"></wsdl:part>
  </wsdl:message>
  
  
  <wsdl:message name="delete_Node">
    <wsdl:part element="ns1:delete_Node" name="body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete_NodeResponse">
    <!--<wsdl:part element="ns1:delete_NodeResponse" name="response"></wsdl:part>-->
  </wsdl:message>
  
    <wsdl:message name="delete_Clerk">
    <wsdl:part element="ns1:delete_Clerk" name="request"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete_ClerkResponse">
<!--    <wsdl:part element="ns1:delete_ClerkResponse" name="response"></wsdl:part>-->
  </wsdl:message>
  
  <wsdl:message name="get_ReplicationNodes">
    <wsdl:part element="ns1:get_ReplicationNodes" name="body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_ReplicationNodesResponse">
    <wsdl:part element="ns1:get_ReplicationNodesResponse" name="response"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="set_ReplicationNodes">
    <wsdl:part element="ns1:set_ReplicationNodes" name="body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="set_ReplicationNodesResponse">
    <wsdl:part element="ns1:set_ReplicationNodesResponse" name="response"></wsdl:part>
  </wsdl:message>
  
  
  
   <wsdl:message name="get_allClientSubscriptionInfo">
    <wsdl:part element="ns1:get_allClientSubscriptionInfo" name="body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_allClientSubscriptionInfoResponse">
    <wsdl:part element="ns1:get_allClientSubscriptionInfoResponse" name="response"></wsdl:part>
  </wsdl:message>
  
  
  
   <wsdl:message name="adminSave_Business">
    <wsdl:part element="ns1:adminSave_Business" name="body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="adminSave_BusinessResponse">
    <wsdl:part element="ns1:adminSave_BusinessResponse" name="response"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="adminSave_tModel">
    <wsdl:part element="ns1:adminSave_tModel" name="body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="adminSave_tModelResponse">
    <wsdl:part element="ns1:adminSave_tModelResponse" name="response"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="adminDelete_Subscription">
    <wsdl:part element="ns1:adminDelete_Subscription" name="body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="adminDelete_SubscriptionResponse">
    <wsdl:part element="ns1:adminDelete_SubscriptionResponse" name="response"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="adminSave_Subscription">
    <wsdl:part element="ns1:adminSave_Subscription" name="body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="adminSave_SubscriptionResponse">
    <wsdl:part element="ns1:adminSave_SubscriptionResponse" name="response"></wsdl:part>
  </wsdl:message>


  <wsdl:message name="getEntityHistoryMessage">
    <wsdl:part element="ns1:getEntityHistoryMessage" name="body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntityHistoryMessageResponse">
    <wsdl:part element="ns1:getEntityHistoryMessageResponse" name="response"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="getFailedReplicationChangeRecordsMessage">
    <wsdl:part element="ns1:getFailedReplicationChangeRecordsMessage" name="body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFailedReplicationChangeRecordsMessageResponse">
    <wsdl:part element="ns1:getFailedReplicationChangeRecordsMessageResponse" name="response"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="getPermissionsMessage">
      <wsdl:part element="ns1:getPermissionsMessage" name="body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPermissionsMessageResponse">
      <wsdl:part element="ns1:getPermissionsMessageResponse" name="response"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPermissionsMessage">
      <wsdl:part element="ns1:setPermissionsMessage" name="body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPermissionsMessageResponse">
      <wsdl:part element="ns1:setPermissionsMessageResponse" name="response"></wsdl:part>
  </wsdl:message>


  
  <wsdl:portType name="JUDDI_Api_PortType">
	<wsdl:documentation> This portType defines all of the jUDDI publisher operations.
  This is above and beyond the original UDDI v3 specification and is NOT part of the standard.
  Method behavior within this class may change from version to version. These methods are
  primarily meant for administrative functions.</wsdl:documentation>
    <wsdl:operation name="get_publisherDetail">
      <wsdl:input message="tns:get_publisherDetail" name="get_publisherDetail"></wsdl:input>
      <wsdl:output message="tns:get_publisherDetailResponse" name="get_publisherDetailResponse"></wsdl:output>
	  <wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="delete_ClientSubscriptionInfo">
      <wsdl:input message="tns:delete_ClientSubscriptionInfo" name="delete_ClientSubscriptionInfo">
    </wsdl:input>
      <wsdl:output message="tns:delete_ClientSubscriptionInfoResponse" name="delete_ClientSubscriptionInfoResponse">
    </wsdl:output>
	<wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="save_Clerk">
      <wsdl:input message="tns:save_Clerk" name="save_Clerk">
    </wsdl:input>
      <wsdl:output message="tns:save_ClerkResponse" name="save_ClerkResponse">
    </wsdl:output>
	<wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="get_allPublisherDetail">
      <wsdl:input message="tns:get_allPublisherDetail" name="get_allPublisherDetail">
    </wsdl:input>
      <wsdl:output message="tns:get_allPublisherDetailResponse" name="get_allPublisherDetailResponse">
    </wsdl:output>
	<wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="delete_publisher">
      <wsdl:input message="tns:delete_publisher" name="delete_publisher">
    </wsdl:input>
      <wsdl:output message="tns:delete_publisherResponse" name="delete_publisherResponse">
    </wsdl:output>
	<wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="save_publisher">
      <wsdl:input message="tns:save_publisher" name="save_publisher">
    </wsdl:input>
      <wsdl:output message="tns:save_publisherResponse" name="save_publisherResponse">
    </wsdl:output>
	<wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="save_Node">
      <wsdl:input message="tns:save_NodeRequest" name="save_Node">
    </wsdl:input>
      <wsdl:output message="tns:save_NodeResponse" name="save_NodeResponse">
    </wsdl:output>
	<wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="adminDelete_tModel">
      <wsdl:input message="tns:adminDelete_tmodel" name="adminDelete_tmodel">
    </wsdl:input>
      <wsdl:output message="tns:adminDelete_tmodelResponse" name="adminDelete_tmodelResponse">
    </wsdl:output>
	<wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="save_ClientSubscriptionInfo">
      <wsdl:input message="tns:save_ClientSubscriptionInfo" name="save_ClientSubscriptionInfo">
    </wsdl:input>
      <wsdl:output message="tns:save_ClientSubscriptionInfoResponse" name="save_ClientSubscriptionInfoResponse">
    </wsdl:output>
	
	
	<wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>
	
    <wsdl:operation name="invoke_SyncSubscription">
      <wsdl:input message="tns:invoke_SyncSubscription" name="invoke_SyncSubscription"></wsdl:input>
      <wsdl:output message="tns:invoke_SyncSubscriptionResponse" name="invoke_SyncSubscriptionResponse"></wsdl:output>
	  <wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>
	
	

	
	<wsdl:operation name="get_AllNodes">
	  <wsdl:documentation>
		gets all nodes persisted in the database, useful for replication scenarios
		@since 3.3
	  </wsdl:documentation>
      <wsdl:input message="tns:get_AllNodes" name="get_AllNodes"></wsdl:input>
      <wsdl:output message="tns:get_AllNodesResponse" name="get_AllNodesResponse"></wsdl:output>
	  <wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>
	<wsdl:operation name="get_AllClerks">
	  <wsdl:documentation>
		gets all Clerks persisted in the database, useful for replication scenarios. Clerks provide a mapping for credentials to a Node
		@since 3.3
	  </wsdl:documentation>
      <wsdl:input message="tns:get_AllClerks" name="get_AllClerks"></wsdl:input>
      <wsdl:output message="tns:get_AllClerksResponse" name="get_AllClerksResponse"></wsdl:output>
	  <wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>
	<wsdl:operation name="delete_Node">
	  <wsdl:documentation>
		removes a node from the database, useful for replication scenarios. 
		Note: when removing a node, all associated clerks will be removed with it.
		@since 3.3
	  </wsdl:documentation>
      <wsdl:input message="tns:delete_Node" name="delete_Node"></wsdl:input>
      <wsdl:output message="tns:delete_NodeResponse" name="delete_NodeResponse"></wsdl:output>
	  <wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>
	<wsdl:operation name="delete_Clerk">
	  <wsdl:documentation>
		removes a clerk from the database, useful for replication scenarios. 
		@since 3.3
	  </wsdl:documentation>
      <wsdl:input message="tns:delete_Clerk" name="delete_Clerk"></wsdl:input>
      <wsdl:output message="tns:delete_ClerkResponse" name="delete_ClerkResponse"></wsdl:output>
	  <wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>	
	<wsdl:operation name="adminSave_Business">
	  <wsdl:documentation>
		saves a business just like from the Publication API, however administrators can use this to perform restores from backup.
		It allows an administrator to save the business, setting the ownership to any user, thus maintaining access control rules.
		@since 3.3
	  </wsdl:documentation>
      <wsdl:input message="tns:adminSave_Business" name="adminSave_Business"></wsdl:input>
      <wsdl:output message="tns:adminSave_BusinessResponse" name="adminSave_BusinessResponse"></wsdl:output>
	  <wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>	
	
	<wsdl:operation name="adminSave_tModel">
	  <wsdl:documentation>
		saves a tModel just like from the Publication API, however administrators can use this to perform restores from backup.
		It allows an administrator to save the tModel, setting the ownership to any user, thus maintaining access control rules.
		@since 3.3
	  </wsdl:documentation>
      <wsdl:input message="tns:adminSave_tModel" name="adminSave_tModel"></wsdl:input>
      <wsdl:output message="tns:adminSave_tModelResponse" name="adminSave_tModelResponse"></wsdl:output>
	  <wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>

	<wsdl:operation name="get_ReplicationNodes">
	  <wsdl:documentation>
		returns all Nodes that have been enabled for replication. 
		@since 3.3
	  </wsdl:documentation>
      <wsdl:input message="tns:get_ReplicationNodes" name="get_ReplicationNodes"></wsdl:input>
      <wsdl:output message="tns:get_ReplicationNodesResponse" name="get_ReplicationNodesResponse"></wsdl:output>
	  <wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>	
	<wsdl:operation name="set_ReplicationNodes">
	  <wsdl:documentation>
		sets all Nodes for replication.  Any previously set Nodes will be removed from the replication list.
		Optionally, all data from remote nodes that 
		@since 3.3
	  </wsdl:documentation>
      <wsdl:input message="tns:set_ReplicationNodes" name="set_ReplicationNodes"></wsdl:input>
      <wsdl:output message="tns:set_ReplicationNodesResponse" name="set_ReplicationNodesResponse"></wsdl:output>
	  <wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>

	<wsdl:operation name="get_allClientSubscriptionInfo">
	  <wsdl:documentation>
		gets all client subscriptions. useful for backup and restore operations
		@since 3.3
	  </wsdl:documentation>
      <wsdl:input message="tns:get_allClientSubscriptionInfo" name="get_allClientSubscriptionInfo"></wsdl:input>
      <wsdl:output message="tns:get_allClientSubscriptionInfoResponse" name="get_allClientSubscriptionInfoResponse"></wsdl:output>
	  <wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>	
	
	
	<wsdl:operation name="adminDelete_Subscription">
	  <wsdl:documentation>
		deletes a client subscription
		@since 3.3
	  </wsdl:documentation>
      <wsdl:input message="tns:adminDelete_Subscription" name="adminDelete_Subscription"></wsdl:input>
      <wsdl:output message="tns:adminDelete_SubscriptionResponse" name="adminDelete_SubscriptionResponse"></wsdl:output>
	  <wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>	

	
	<wsdl:operation name="adminSave_Subscription">
	  <wsdl:documentation>
		saves a client subscription, useful for restore functions
		@since 3.3
	  </wsdl:documentation>
      <wsdl:input message="tns:adminSave_Subscription" name="adminSave_Subscription"></wsdl:input>
      <wsdl:output message="tns:adminSave_SubscriptionResponse" name="adminSave_SubscriptionResponse"></wsdl:output>
	  <wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>	
	

  <!-- additions since 3.3 -->
   <wsdl:operation name="getEntityHistory">
   <wsdl:documentation>
    gets a given entities change record history
    @since 3.3
    </wsdl:documentation>
        <wsdl:input message="tns:getEntityHistoryMessage" name="getEntityHistory"></wsdl:input>
      <wsdl:output message="tns:getEntityHistoryMessageResponse" name="getEntityHistoryResponse"></wsdl:output>
      <wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>

    <wsdl:operation name="getFailedReplicationChangeRecords">
   <wsdl:documentation>
    gets a list of change records that were received from another node but failed to save locally, usually due to a key conflict
    @since 3.3
    </wsdl:documentation>
        <wsdl:input message="tns:getFailedReplicationChangeRecordsMessage" name="getFailedReplicationChangeRecords"></wsdl:input>
      <wsdl:output message="tns:getFailedReplicationChangeRecordsMessageResponse" name="getFailedReplicationChangeRecordsResponse"></wsdl:output>
      <wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>
	
    
    <!-- new with 3.4 -->
     
    <wsdl:operation name="getPermissions">
        <wsdl:documentation>
            gets a permission set for a UDDI entity by ID.
            This does not include inherited permissions from a parent object.
            @since 3.4
        </wsdl:documentation>
        <wsdl:input message="tns:getPermissionsMessage" name="getPermissions"></wsdl:input>
        <wsdl:output message="tns:getPermissionsMessageResponse" name="getPermissionsResponse"></wsdl:output>
        <wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="setPermissions">
        <wsdl:documentation>
            sets a the permissions for a UDDI entity. If no permissions are set, all 
            previously set permissions are removed.
            @since 3.4
        </wsdl:documentation>
        <wsdl:input message="tns:setPermissionsMessage" name="setPermissions"></wsdl:input>
        <wsdl:output message="tns:setPermissionsMessageResponse" name="setPermissionsResponse"></wsdl:output>
        <wsdl:fault name="error" message="uddiport:dispositionReportFaultMessage"/>
    </wsdl:operation>
    
	
  </wsdl:portType>



  <wsdl:binding name="JUDDIApiServiceSoapBinding" type="tns:JUDDI_Api_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	

	<wsdl:operation name="get_publisherDetail">
      <soap:operation soapAction="get_publisherDetail" style="document"/>
      <wsdl:input name="get_publisherDetail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="get_publisherDetailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete_ClientSubscriptionInfo">
      <soap:operation soapAction="delete_ClientSubscriptionInfo" style="document"/>
      <wsdl:input name="delete_ClientSubscriptionInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="delete_ClientSubscriptionInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get_allPublisherDetail">
      <soap:operation soapAction="get_allPublisherDetail" style="document"/>
      <wsdl:input name="get_allPublisherDetail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="get_allPublisherDetailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="save_Clerk">
      <soap:operation soapAction="save_Clerk" style="document"/>
      <wsdl:input name="save_Clerk">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="save_ClerkResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete_publisher">
      <soap:operation soapAction="delete_publisher" style="document"/>
      <wsdl:input name="delete_publisher">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="delete_publisherResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="save_Node">
      <soap:operation soapAction="save_Node" style="document"/>
      <wsdl:input name="save_Node">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="save_NodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="save_publisher">
      <soap:operation soapAction="save_publisher" style="document"/>
      <wsdl:input name="save_publisher">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="save_publisherResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="adminDelete_tModel">
      <soap:operation soapAction="adminDelete_tmodel" style="document"/>
      <wsdl:input name="adminDelete_tmodel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="adminDelete_tmodelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="save_ClientSubscriptionInfo">
      <soap:operation soapAction="save_ClientSubscriptionInfo" style="document"/>
      <wsdl:input name="save_ClientSubscriptionInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="save_ClientSubscriptionInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="invoke_SyncSubscription">
      <soap:operation soapAction="invoke_SyncSubscription" style="document"/>
      <wsdl:input name="invoke_SyncSubscription">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="invoke_SyncSubscriptionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
		<!-- additions to 3.3 -->
   <wsdl:operation name="get_AllNodes">
      <soap:operation soapAction="get_AllNodes" style="document"/>
      <wsdl:input name="get_AllNodes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="get_AllNodesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
	<wsdl:operation name="get_AllClerks">
      <soap:operation soapAction="get_AllClerks" style="document"/>
      <wsdl:input name="get_AllClerks">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="get_AllClerksResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
	
	<wsdl:operation name="delete_Node">
      <soap:operation soapAction="delete_Node" style="document"/>
      <wsdl:input name="delete_Node">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="delete_NodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
	
	<wsdl:operation name="delete_Clerk">
      <soap:operation soapAction="delete_Clerk" style="document"/>
      <wsdl:input name="delete_Clerk">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="delete_ClerkResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
	
	<wsdl:operation name="adminSave_Business">
      <soap:operation soapAction="adminSave_Business" style="document"/>
      <wsdl:input name="adminSave_Business">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="adminSave_BusinessResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>

	<wsdl:operation name="adminSave_tModel">
      <soap:operation soapAction="adminSave_tModel" style="document"/>
      <wsdl:input name="adminSave_tModel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="adminSave_tModelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>

	<wsdl:operation name="get_ReplicationNodes">
      <soap:operation soapAction="get_ReplicationNodes" style="document"/>
      <wsdl:input name="get_ReplicationNodes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="get_ReplicationNodesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
	
	<wsdl:operation name="set_ReplicationNodes">
      <soap:operation soapAction="set_ReplicationNodes" style="document"/>
      <wsdl:input name="set_ReplicationNodes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="set_ReplicationNodesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>	
	
	<wsdl:operation name="get_allClientSubscriptionInfo">
      <soap:operation soapAction="get_allClientSubscriptionInfo" style="document"/>
      <wsdl:input name="get_allClientSubscriptionInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="get_allClientSubscriptionInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>	
	
	
	
	<wsdl:operation name="adminDelete_Subscription">
      <soap:operation soapAction="adminDelete_Subscription" style="document"/>
      <wsdl:input name="adminDelete_Subscription">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="adminDelete_SubscriptionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
	
	<wsdl:operation name="adminSave_Subscription">
      <soap:operation soapAction="adminSave_Subscription" style="document"/>
      <wsdl:input name="adminSave_Subscription">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="adminSave_SubscriptionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>


   <!-- additions since 3.3 -->
   <wsdl:operation name="getEntityHistory">
   
      <soap:operation soapAction="getEntityHistory" style="document"/>
      <wsdl:input name="getEntityHistory">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEntityHistoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>


    <wsdl:operation name="getFailedReplicationChangeRecords">
   
      <soap:operation soapAction="getFailedReplicationChangeRecords" style="document"/>
      <wsdl:input name="getFailedReplicationChangeRecords">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFailedReplicationChangeRecordsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
    
    <!-- new with 3.4 -->
     <wsdl:operation name="getPermissions">
   
      <soap:operation soapAction="getPermissions" style="document"/>
      <wsdl:input name="getPermissions">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPermissionsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setPermissions">
   
      <soap:operation soapAction="setPermissions" style="document"/>
      <wsdl:input name="setPermissions">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setPermissionsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    <wsdl:fault name="error"><soap:fault name="error" use="literal"/></wsdl:fault>
    </wsdl:operation>



  </wsdl:binding>
  <wsdl:service name="JUDDIApiService">
  <wsdl:documentation>This service implements the jUDDI API service</wsdl:documentation> 
    <wsdl:port binding="tns:JUDDIApiServiceSoapBinding" name="JUDDIApiImplPort">
      <soap:address location="http://localhost/juddiv3/services/juddi-api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>