juddi-client/src/main/resources/xsd/uddi-client.xsd

<xsd:schema elementFormDefault='qualified'
  targetNamespace='urn:juddi-apache-org:v3_client' version='1.0'
            xmlns:tns='urn:juddi-apache-org:v3_client'
  xmlns:ns1='http://www.w3.org/2000/09/xmldsig#' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:element name="uddi">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element type="xsd:short" name="reloadDelay" />
        <xsd:element name="client" nillable="false">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="nodes">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="node" maxOccurs="unbounded"
													minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element type="xsd:string" name="name" />
                          <xsd:element type="xsd:string" name="description" />

                          <xsd:element name="properties" minOccurs="0">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="property" maxOccurs="unbounded"
																			minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:simpleContent>
                                      <xsd:extension base="xsd:string">
                                        <xsd:attribute type="xsd:string"
																							name="name" use="optional" />
                                        <xsd:attribute type="xsd:string"
																							name="value" use="optional" />
                                      </xsd:extension>
                                    </xsd:simpleContent>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element type="xsd:string" name="proxyTransport" />
                          <xsd:element type="xsd:string" name="custodyTransferUrl" />
                          <xsd:element type="xsd:string" name="inquiryUrl" />
						  <xsd:element type="xsd:string" name="inquiryRESTUrl" />
						  
                          <xsd:element type="xsd:string" name="publishUrl" />
                          <xsd:element type="xsd:string" name="securityUrl" />
                          <xsd:element type="xsd:string" name="subscriptionUrl" />
                          <xsd:element type="xsd:string" name="subscriptionListenerUrl" />
                          <xsd:element type="xsd:string" name="juddiApiUrl"  nillable="true"/>
                          <xsd:element type="xsd:string" name="factoryInitial"  nillable="true"/>
                          <xsd:element type="xsd:string" name="factoryURLPkgs"  nillable="true"/>
                          <xsd:element type="xsd:string" name="factoryNamingProvider"  nillable="true"/>

                        </xsd:sequence>
                        <xsd:attribute type="xsd:boolean" name="isHomeJUDDI"
															use="optional" />
                      </xsd:complexType>
                    </xsd:element>

                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="clerks">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="clerk" maxOccurs="unbounded"
                          minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="wsdl"  type="tns:wsdl" maxOccurs="unbounded" minOccurs="0" nillable="true"></xsd:element>
                          <xsd:element name="class" type="xsd:string" maxOccurs="unbounded" minOccurs="0" nillable="true"> </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute type="xsd:string" name="name"
                              use="required" />
                        <xsd:attribute type="xsd:string" name="node"
                              use="required" />
                        <xsd:attribute type="xsd:string" name="publisher"
                              use="required" />
                        <xsd:attribute type="xsd:string" name="password"
                              use="required" />
                        <xsd:attribute type="xsd:boolean" name="isPasswordEncrypted"
                              use="optional" default="false"  />
                        <xsd:attribute type="xsd:string" name="cryptoProvider"
                             use="optional"  />

                        <xsd:attribute type="xsd:string" name="businessKey"
                              use="optional" />
                        <xsd:attribute type="xsd:string" name="businessName"
                              use="optional" />
                        <xsd:attribute type="xsd:string" name="keyDomain"
                              use="optional" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="xregister">
                      <xsd:complexType>
                        <xsd:sequence >

                          <xsd:element name="servicebinding" maxOccurs="unbounded" nillable="true">
                            <xsd:complexType>
                              <xsd:simpleContent>
                                <xsd:extension base="xsd:string">
                                  <xsd:attribute type="xsd:string" name="bindingKey"/>
                                  <xsd:attribute type="xsd:string" name="fromClerk"/>
                                  <xsd:attribute type="xsd:string" name="toClerk"/>
                                </xsd:extension>
                              </xsd:simpleContent>
                            </xsd:complexType>
                          </xsd:element>

                          <xsd:element name="business" maxOccurs="unbounded" nillable="true">
                            <xsd:complexType>
                              <xsd:simpleContent>
                                <xsd:extension base="xsd:string">
                                  <xsd:attribute type="xsd:string" name="bindingKey"/>
                                  <xsd:attribute type="xsd:string" name="fromClerk"/>
                                  <xsd:attribute type="xsd:string" name="toClerk"/>
                                </xsd:extension>
                              </xsd:simpleContent>
                            </xsd:complexType>
                          </xsd:element>


                        </xsd:sequence>

                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute type="xsd:boolean" name="registerOnStartup"
                        use="optional" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="signature">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element type="xsd:string" name="signingKeyStorePath"></xsd:element>
                    <xsd:element type="xsd:string" name="signingKeyStoreType"></xsd:element>
                    <xsd:element  name="signingKeyStoreFilePassword">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:boolean" name="isPasswordEncrypted"
                                  use="optional" default="false"  />
                            <xsd:attribute type="xsd:string" name="cryptoProvider"
                                 use="optional"  />
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element  name="signingKeyPassword">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:boolean" name="isPasswordEncrypted"
                                  use="optional" default="false"  />
                            <xsd:attribute type="xsd:string" name="cryptoProvider"
                                 use="optional"  />
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element type="xsd:string" name="signingKeyAlias"></xsd:element>
                    
                    <xsd:element type="xsd:string" name="canonicalizationMethod" default="http://www.w3.org/2001/10/xml-exc-c14n#">
                      <xsd:annotation><xsd:documentation>default is http://www.w3.org/2001/10/xml-exc-c14n#
                      </xsd:documentation></xsd:annotation>
                    
                    </xsd:element>
                    <xsd:element type="xsd:string" name="signatureMethod" default="http://www.w3.org/2000/09/xmldsig#rsa-sha1">
                      <xsd:annotation><xsd:documentation>default is RSA_SHA1</xsd:documentation></xsd:annotation>
                    </xsd:element>
                    <xsd:element type="xsd:string" name="XML_DIGSIG_NS" default="http://www.w3.org/2000/09/xmldsig#"></xsd:element>

                    <xsd:element type="xsd:string" name="trustStorePath"></xsd:element>
                    <xsd:element type="xsd:string" name="trustStoreType"></xsd:element>
                    <xsd:element  name="trustStorePassword">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:boolean" name="isPasswordEncrypted"
                                  use="optional" default="false"  />
                            <xsd:attribute type="xsd:string" name="cryptoProvider"
                                 use="optional"  />
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element type="xsd:boolean" name="checkTimestamps" default="true"></xsd:element>
                    <xsd:element type="xsd:boolean" name="checkTrust" default="true"></xsd:element>
                    <xsd:element type="xsd:boolean" name="checkRevocationCRL" default="false"></xsd:element>
                    <xsd:element type="xsd:boolean" name="checkRevocationOCSP" default="false"></xsd:element>
                    <xsd:element type="xsd:boolean" name="keyInfoInclusionSubjectDN" default="false"></xsd:element>
                    <xsd:element type="xsd:boolean" name="keyInfoInclusionSerial" default="false"></xsd:element>
                    <xsd:element type="xsd:boolean" name="keyInfoInclusionBase64PublicKey" default="false"></xsd:element>
                    <xsd:element type="xsd:string" name="digestMethod" default="http://www.w3.org/2000/09/xmldsig#sha1"></xsd:element>
                    
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="subscriptionCallbacks">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element type="xsd:string" name="keyDomain"></xsd:element>
                    <xsd:element type="xsd:string" name="listenUrl"></xsd:element>
                    <xsd:element type="xsd:boolean" name="autoRegisterBindingTemplate"></xsd:element>
                    <xsd:element type="xsd:string" name="autoRegisterBusinessServiceKey"></xsd:element>
                    <xsd:element type="xsd:string" name="signatureBehavior">
                      <xsd:annotation><xsd:documentation>AbortIfSigned,Sign,DoNothing,SignOnlyIfParentIsntSigned</xsd:documentation></xsd:annotation>
                    </xsd:element>
                    
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="XtoWsdl">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="IgnoreSSLErrors" type="xsd:boolean"></xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute type="xsd:string" name="name" />
          </xsd:complexType>
        </xsd:element>


      </xsd:sequence>

    </xsd:complexType>
  </xsd:element>


  <xsd:complexType name="wsdl"  >
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute type="xsd:string" name="businessKey"
                use="optional"/>
        <xsd:attribute type="xsd:string" name="businessName"
              use="optional" />
        <xsd:attribute type="xsd:string" name="keyDomain"
              use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

</xsd:schema>